body{
  background-color: aqua;
}

.logo{
  border: 1px solid black;
  margin: 0px 20px 10px 20px; 
  width: 500px;
  height: 200px;
  float: left;
}
.demo-text{
  border: 1px solid black;
  font-size: 50px;
 overflow: hidden;
 margin: 0px 20px 40px 20px; 
}
.div-field-text{
  border: 1px solid black;
  border-radius: 10px;
margin: 40px 20px 0px 20px; 
background-color: white;
  
}
.field-text{
  width:100%;
  height: 60px;
  background-color: white;
  border-radius: 10px;
}

.div-button{
  border: 1px solid black;
  margin: 30px 20px 10px 20px;
  width: 200px;
  height: 70px;
  }

.button{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(88, 183, 218);
  color: white;
  font-style:bold;
  font-size: 20px;
}

.div-nav-element{
  font-style: bold;
  color: darkkhaki;
  font-size: 30px;
}

.set-collor-background{
  width: 300px;
  height: 100px;
  font-style: bold;
  font-size: 20px;
  border-radius: 10px;
}

