body{
  background-color: rgb(101, 209, 210);
}

.logo{
  border: 1px solid black;
  margin: 0px 20px 10px 20px; 
  width: 500px;
  height: 200px;
  float: left;
}
.demo-text{
  border: 1px solid black;
  font-size: 50px;
 overflow: hidden;
 margin: 0px 20px 40px 20px; 
}
.field-text{
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}
.input-text{
  width:100%;
  height: 60px;
}

.div-button{
  border: 1px solid black;
  margin: 30px 20px 10px 20px; 
  margin: 30px 20px 10px 20px; 
  width: 200px;
  height: 70px;
  }

.button{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(88, 183, 218);
  color: white;
  font-style:bold;
  font-size: 20px;
}